.side-nav{
  /*height: 100%;
  width: 250px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;*/
  background-color: beige;
  overflow-x: hidden;
  padding-top: 20px;
}

/*side-nav h5{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
}*/